[submodule "authKriliya"]
	path = authKriliya
	url = https://github.com/Bilalik369/kriLiya_mecro_auth.git
[submodule "itemKriliya"]
	path = itemKriliya
	url = https://github.com/Bilalik369/kriliya-item-micro.git
[submodule "bookingKriliya"]
	path = bookingKriliya
	url = https://github.com/Bilalik369/kriliya-booking-micro.git
[submodule "notificationKriliya"]
	path = notificationKriliya
	url = https://github.com/Bilalik369/kriliya-notifi-micro.git
[submodule "reviewKriliya"]
	path = reviewKriliya
	url = https://github.com/Bilalik369/kriliya-review-micro.git
[submodule "gatewayKriliya"]
	path = gatewayKriliya
	url = https://github.com/Bilalik369/kriliya-gateway-micro.git
	
[submodule "frontend-kriliya"]
	path = frontend-kriliya
	url = https://github.com/Bilalik369/kriliya-frontend.git
